/* scrollbar.css */
.scrollbar-hidden {
    overflow-x: auto;
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .scrollbar-transparent {
    overflow-x: auto;
  }
  
  .scrollbar-transparent::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-transparent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent scrollbar thumb */
    border-radius: 10px;
  }
  
  .scrollbar-transparent::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Transparent track background */
    border-radius: 10px;
  }
  